/* red-hat-display-regular - latin */
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/fonts/red-hat-display-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('~@/assets/fonts/red-hat-display-v4-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('~@/assets/fonts/red-hat-display-v4-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('~@/assets/fonts/red-hat-display-v4-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('~@/assets/fonts/red-hat-display-v4-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('~@/assets/fonts/red-hat-display-v4-latin-regular.svg#RedHatDisplay')
      format('svg'); /* Legacy iOS */
}
/* red-hat-display-900 - latin */
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 900;
  src: url('~@/assets/fonts/red-hat-display-v4-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('~@/assets/fonts/red-hat-display-v4-latin-900.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('~@/assets/fonts/red-hat-display-v4-latin-900.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('~@/assets/fonts/red-hat-display-v4-latin-900.woff') format('woff'),
    /* Modern Browsers */
      url('~@/assets/fonts/red-hat-display-v4-latin-900.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('~@/assets/fonts/red-hat-display-v4-latin-900.svg#RedHatDisplay')
      format('svg'); /* Legacy iOS */
}

/*-- Font Icons --*/
@font-face {
  font-family: "novaicon";
  src:url("~@/assets/fonts/novaicon.eot");
  src:url("~@/assets/fonts/novaicon.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/novaicon.woff") format("woff"),
    url("~@/assets/fonts/novaicon.ttf") format("truetype"),
    url("~@/assets/fonts/novaicon.svg#novaicon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "novaicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-9" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ni-backend:before {
  content: "\61";
}
.icon-ni-ball:before {
  content: "\62";
}
.icon-ni-brain:before {
  content: "\63";
}
.icon-ni-bulb:before {
  content: "\64";
}
.icon-ni-chat:before {
  content: "\65";
}
.icon-ni-comment:before {
  content: "\66";
}
.icon-ni-compas:before {
  content: "\67";
}
.icon-ni-connection:before {
  content: "\68";
}
.icon-ni-database:before {
  content: "\69";
}
.icon-ni-frontend:before {
  content: "\6a";
}
.icon-ni-gear:before {
  content: "\6b";
}
.icon-ni-icon:before {
  content: "\6c";
}
.icon-ni-integration:before {
  content: "\6d";
}
.icon-ni-lock:before {
  content: "\6e";
}
.icon-ni-logo:before {
  content: "\6f";
}
.icon-ni-message:before {
  content: "\70";
}
.icon-ni-pencil:before {
  content: "\71";
}
.icon-ni-phone:before {
  content: "\72";
}
.icon-ni-pin:before {
  content: "\73";
}
.icon-ni-portfolio:before {
  content: "\74";
}
.icon-ni-printer:before {
  content: "\75";
}
.icon-ni-responsive:before {
  content: "\76";
}
.icon-ni-rocket:before {
  content: "\77";
}
.icon-ni-star:before {
  content: "\78";
}
.icon-ni-sync:before {
  content: "\79";
}
.icon-ni-tap:before {
  content: "\7a";
}
.icon-ni-tools:before {
  content: "\41";
}
.icon-ni-webpage:before {
  content: "\42";
}
