/* Variables */

$green: #d6f630;
$blue: #099bc3;
$magenta: #df1f5b;
$dark-grey: #3f3f3f;
$light-grey: #ededed;
$blanco: #fff;

$error: rgb(199, 25, 25);

// Este número se calcula transformando a em el ancho de una columna del grid establecido
$col-landscape: 3.333333333vw;
