/* Variables */

$green: #d6f630;
$blue: #099bc3;
$magenta: #df1f5b;
$dark-grey: #3f3f3f;
$dark-grey-2: #888;
$light-grey: #ededed;
$white: #fff;

$error: rgb(199, 25, 25);

// Este número se calcula transformando a em el ancho de una columna del grid establecido
$col-portrait: 5%;
$col-landscape: 3.333333333vw;

// Botones compartir
$pinterest: #c8232c;
$whatsapp: #128c7e;
$telegram: #0088cc;
$twitter: #00acee;
$facebook: #4267b2;

