/* Variables */

$green: #D6F630;
$blue: #099BC3;
$magenta:  #DF1F5B;
$gris-oscuro: #3F3F3F;
$gris-claro: #EDEDED;

$error: rgb(199, 25, 25);

// Este número se calcula transformando a em el ancho de una columna del grid establecido
$width-desktop: 3.333333333em;