.shapes {
  @include grid-structure($columns: 3, $col: $col-landscape);
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__img {
    width: 15vw;
  }

  &__img--circle {
    width: 15.25vw;
  }

  &__titulo {
    grid-column: 1 / 4;
    text-align: center;
    font-size: 1.55rem;
    font-weight: 400;
    color: $dark-grey-2;
    margin-top: 5vh;
  }

  &__subtitulo {
    margin-bottom: 0;
  }
}

/*----------------------------------- Mobile Portrait ---------------------------------*/
@include responsive-max($max-width: 26em, $orientation: 'portrait') {
  .shapes {
    &__img {
      width: 24vw;
    }

    &__img--circle {
      width: 24.25vw;
    }

    &__titulo {
      font-size: 0.95rem;
      line-height: 1.15rem;
      margin-top: 10vh;
    }
  }
}

/*----------------------------------- Mobile Landscape --------------------------------*/
@include responsive-max($max-width: 46em, $orientation: 'landscape') {
  .shapes {
    &__titulo {
      margin: 0 ($col-landscape * 1.7) 0;
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
  }
}

/*----------------------------------- Tablet Portrait ---------------------------------*/
@include responsive-min-max(
  $min-width: 48em,
  $max-width: 64em,
  $orientation: 'portrait'
) {
  .shapes {
    &__img {
      width: 21vw;
    }

    &__img--circle {
      width: 21.25vw;
    }
  }
}

/*----------------------------------- Desktop 1600px --------------------------------*/
@include responsive-min($min-width: 100em) {
  .shapes {
    &__titulo {
      margin-top: 0;
      font-size: 1.7rem;
    }
  }
}

/*------------------------------------ Desktop 1920px -------------------------------*/
@include responsive-min($min-width: 120em) {
}
