.categories {
  @include grid-structure($columns: 3, $col: $col-landscape, $padding: 1);
  &__items {
    display: flex;
    margin-bottom: $col-landscape * 0.5;
  }

  &__icon {
    display: flex;
    font-size: 3.5rem;
    flex-direction: column;
    justify-content: center;

    color: $white;
    @include image-background($image: 'novanet-circle.svg');

    &::before {
      display: block;
      padding: 1rem 0.25rem 0;
    }
  }
  @include subheader();

  &__internal {
    margin-right: -$col-landscape;
  }
}

/*----------------------------------- Mobile Portrait ---------------------------------*/
@include responsive-max($max-width: 26em, $orientation: 'portrait') {
  .categories {
    @include grid-structure($columns: 1, $col: $col-portrait);
    &__items {
      margin-bottom: $col-portrait;
      &:nth-child(odd),
      &:nth-child(even) {
        grid-column: 1 / 2;
      }
    }

    &__title {
      margin: 0 0 0 ($col-portrait * 0.3);
    }

    &__internal {
      @include grid-structure($columns: 2, $col: $col-portrait);
      margin-right: 0;
      > div {
        &:nth-child(odd) {
          padding-right: $col-portrait * 0.95;
        }
        &:nth-child(even) {
          padding-left: $col-portrait * 0.95;
          padding-right: 0;
        }
      }
    }
  }
}

/*----------------------------------- Mobile Landscape --------------------------------*/
@include responsive-max($max-width: 46em, $orientation: 'landscape') {
  .categories {
    @include grid-structure($columns: 2, $col: $col-landscape);

    &__internal {
      @include grid-structure($columns: 3, $col: $col-landscape);
      > div {
        margin-bottom: $col-landscape;
        &:nth-child(odd),
        &:nth-child(even) {
          padding-right: ($col-landscape);
        }
      }
    }
  }
}

/*----------------------------------- Tablet Portrait ---------------------------------*/
@include responsive-min-max(
  $min-width: 48em,
  $max-width: 64em,
  $orientation: 'portrait'
) {
  .categories {
    @include grid-structure($columns: 2, $col: $col-portrait-tablet);
    &__items {
      &:nth-child(even) {
        grid-column: 2 / 3;
      }
      &:nth-child(even) {
        grid-column: 1 / 2;
      }
    }

    &__internal {
      @include grid-structure($columns: 3, $col: $col-portrait-tablet);
      margin-right: -$col-portrait-tablet;
      > div {
        &:nth-child(odd),
        &:nth-child(even) {
          padding-right: $col-portrait-tablet;
          padding-left: 0;
        }
      }
    }
  }
}

/*----------------------------------- Tablet Landscape -------------------------------*/
@include responsive-min-max(
  $min-width: 64em,
  $max-width: 85.375em,
  $orientation: 'landscape'
) {
  .categories {
    @include grid-structure($columns: 4, $col: $col-landscape);
  }
}

/*----------------------------------- Desktop 1280px -------------------------------*/
@include responsive-min($min-width: 80em) {
  .categories {
    @include grid-structure($columns: 4, $col: $col-landscape);
    &__items {
      margin-bottom: $col-landscape * 0.25;
      grid-column: auto;
    }
  }
}
