.modal {
  &__mask {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.95);
    transition: opacity 0.2s ease;
    animation: fadeIn 0.4s;
    overflow-y: scroll;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__wrapper {
    margin-top: 3vh;
  }

  &__container {
    position: relative;
    width: auto;
    margin: 0px auto;
    transition: all 0.3s ease;
  }

  &__converter {
    display: flex;
    align-content: center;
    min-height: 100vh;
    img {
      width: 50em;
    }
  }

  &__generic {
    width: 40em;
    padding: $col-landscape * 1.1;
    background: $white;
    border: 1px solid lightgray;
    p {
      font-size: 0.938rem;
      line-height: 1.25rem;
    }
    ul {
      list-style: unset;
      list-style-position: inside;
      font-size: 0.938rem;
      line-height: 1.25rem;
    }
  }

  &__index {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  &__index-elements {
    width: 33%;
  }

  &__index-icons {
    font-size: 12rem;
    text-align: center;
  }

  &__index-titulo {
    font-size: 1.4rem;
    text-align: center;
    margin-top: -2vh;
  }
  &__index-link,
  &__index-header {
    width: 100%;
    text-align: center;
  }

  &__index-link {
    margin-top: 8vh;
  }

  &__index-header {
    font-size: 1.8rem;
    margin-bottom: 8vh;
  }

  &__boton {
    width: 2em;
    height: 2em;
    position: absolute;
    top: $col-landscape * 0.5;
    right: $col-landscape * 0.5;
    border-radius: 50%;
    font-size: 1rem;
    color: white;
    background-color: $magenta;
  }
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*----------------------------------- Mobile Portrait ---------------------------------*/
@include responsive-max($max-width: 26em, $orientation: 'portrait') {
  .modal {
    &__converter {
      img {
        width: 30em;
      }
    }
    &__boton {
      font-size: 0.7rem;
    }
    &__item {
      width: 21em;
    }
  }
}

/*----------------------------------- Mobile Landscape --------------------------------*/
@include responsive-max($max-width: 46em, $orientation: 'landscape') {
  .modal {
    &__converter {
      img {
        width: 29em;
      }
    }

    &__item {
      width: 33em;
    }
  }
}

/*----------------------------------- Tablet Portrait ---------------------------------*/
@include responsive-min-max(
  $min-width: 48em,
  $max-width: 64em,
  $orientation: 'portrait'
) {
  .modal {
    &__converter {
      img {
        width: 40em;
      }
    }

    &__item {
      width: 36em;
    }
  }
}
