body {
  font-family: 'Red Hat Display', 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: $gris-oscuro;
  margin-top: 0;
  margin-bottom: $col-landscape * 0.1;
}

ul {
  font-size: 0.845rem;
  line-height: 1.125rem;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin: 0;
}

h2 {
  font-size: 1.375rem;
  line-height: 1.625rem;
  margin-left: 1.25em;
  &.green {
    @include heading-before-content($image: 'novanet-triangle.svg');
  }
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.25rem;
}

h1,
h2,
h3,
h4 {
  color: $gris-oscuro;
  font-weight: 900;
  margin-bottom: $col-landscape * 0.1;
}

.layout {
  width: 100vw;
}

.container {
  @include grid-structure($columns: 30);
  min-height: 100vh;
  .header,
  .footer {
    padding: $col-landscape/2;
  }
}

.header {
  @include grid-structure($columns: 6);
  grid-column: 1 / 31;

  &--green {
    background-color: $green;
  }

  &--blue {
    background-color: $blue;
  }

  &--magenta {
    background-color: $magenta;
  }
}

.nav {
  @include grid-structure($columns: 6);
  grid-column: 1 / 7;
  box-sizing: border-box;
  
  &__link {
    display: flex;
    align-items: center;
    position: relative;
   
    &--logo {
      width: 8.1em;
    }
    &--icon::before {
      color: $gris-oscuro;
      font-size: 4rem;
      position: absolute;
      left: 0;
      top: -0.10em;
     
    }
    &--title {
      margin: 0 0 0 3.4em;
    }
  }
}

.navpage {
  display: flex;
  flex-direction: row;
  grid-column: 1 / 7;
  &__link {
    display: flex;
    flex-direction: row;
  }
}

.main {
  display: grid;
  grid-column: 1 / 31;
  padding: $col-landscape $col-landscape/2 $col-landscape/2 $col-landscape/2;
  align-self: start;
}

// Inicio

.section {
  margin-bottom: $col-landscape * 0.5;
  &--contacto {
    display: flex;
    flex-direction: row;
    align-items: center;    
  }
}

.shapes {
  @include grid-structure($columns: 4);
  padding: $col-landscape 0 $col-landscape 0;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.whatsapp {
  color: #128C7E;
  margin-right: 0.2em;
}

.footer {
  grid-column: 1 / 31;
  align-self: end;
}

.rrss {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    color: $gris-claro;
    width: $col-landscape * 0.7;
    height: $col-landscape * 0.7;
    box-sizing: border-box;
    margin-right: $col-landscape * 0.45;
    &--triangle {
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      background: $green;
      background: linear-gradient(0deg, $blue 0%, $green 100%);
      justify-content: flex-end;
      padding-bottom: 0.75em;
    }
    &--square {
      background: $blue;
      background: linear-gradient(0deg, $magenta 0%, $blue 100%);
      justify-content: center;
    }
    &--circle {
      clip-path: circle(50% at 50% 50%);
      background: $magenta;
      background: linear-gradient(0deg, $green 0%, $magenta 100%);
      justify-content: center;
    }
  }
}

.fade-enter-active {
  transition: opacity 0.5s;
}

.fade-enter {
  opacity: 0;
}

.none {
  display: none;
}

/*----------------------------------- Mobile Portrait (320px) -----------------------------------*/
@include responsive(20em) {
}

/*----------------------------------- Mobile Landscape (568px) ----------------------------------*/
@include responsive(35.5em) {
}

/*----------------------------------- Tablet Portrait (768px) -----------------------------------*/
@include responsive(48em) {
}

/*----------------------------------- Tablet Landscape (1024px) ---------------------------------*/
@include responsive(64em) {
}

/*------------------------------------- Small Desktop (1280px) ----------------------------------*/
@include responsive(80em) {
}

/*------------------------------------ Medium Desktop (1440px) ----------------------------------*/
@include responsive(90em) {
}

/*--------------------------------- Medium Large Desktop (1600px) -------------------------------*/
@include responsive(100em) {
}

/*------------------------------------- Large Desktop (1920px) ---------------------------------*/
@include responsive(120em) {
}
