body {
  font-family: 'Red Hat Display', 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: $dark-grey;
  margin-top: 0;
  margin-bottom: $col-landscape * 0.1;
}

ul {
  font-size: 0.845rem;
  line-height: 1.125rem;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin: 0;
}

h2 {
  font-size: 1.375rem;
  line-height: 1.625rem;

  &.green {
    @include heading-before-content($image: 'novanet-triangle.svg');
  }

  &.blue {
    @include heading-before-content($image: 'novanet-square.svg');
  }

  &.magenta {
    @include heading-before-content($image: 'novanet-circle.svg');
  }
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.25rem;
}

h1,
h2,
h3,
h4 {
  color: $dark-grey;
  font-weight: 900;
  margin-bottom: $col-landscape * 0.1;
}

.layout {
  max-width: 100vw;
}

.container {
  @include grid-structure($columns: 30);
  min-height: 100vh;
  .header,
  .footer {
    padding: $col-landscape*.5
  }
}

.header {
  @include grid-structure($columns: 6);
  grid-column: 1 / 31;

  &--green {
    background-color: $green;
    color: $dark-grey;
  }

  &--blue {
    background-color: $blue;
    color: $blanco;
    .nav {
      &__link {
        &--title-page {
          color: $blanco;
        }
      }
    }
  }

  &--magenta {
    background-color: $magenta;
    color: $blanco;
    .nav {
      &__link {
        &--title-page {
          color: $blanco;
        }
      }
    }
  }
}

.nav {
  // Navegación Inicio
  &--main {
    @include grid-structure($columns: 6);
    grid-column: 1 / 7;
    box-sizing: border-box;
  }
  // Navegación interna
  &--page {
    display: flex;
    grid-column: 1 / 7;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    position: relative;

    &:visited {
      color: inherit;
    }

    &--logo {
      width: 8.1em;
    }

    &--icon {
      &::before {
        font-size: 4rem;
        position: absolute;
        left: 0;
        top: -0.1em;
      }

      &-page::before {
        top: -0.2em;
      }
    }

    &--title {
      margin: 0 0 0 3.4em;
    }

    &--title-page {
      margin: 0 0 0 2.4em;
    }
  }
}

.main {
  display: grid;
  grid-column: 1 / 31;
  padding: $col-landscape $col-landscape*.5 $col-landscape*.5 $col-landscape*.5;
  align-self: start;
}

// Inicio

.section {
  margin-bottom: $col-landscape * 0.5;

  &--contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.shapes {
  @include grid-structure($columns: 4);
  padding: $col-landscape 0 $col-landscape 0;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__img {
    width: 13.75vw;
  }

  &__img--circle {
    width: 14.25vw;
  }
}

.whatsapp {
  color: #128c7e;
  margin-right: 0.2em;
}

.footer {
  grid-column: 1 / 31;
  align-self: end;
}

.rrss {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    color: $blanco;
    width: $col-landscape * 0.7;
    height: $col-landscape * 0.7;
    box-sizing: border-box;
    margin-right: $col-landscape * 0.45;

    &--triangle {
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      background: $green;
      background: linear-gradient(0deg, $blue 0%, $green 100%);
      justify-content: flex-end;
      padding-bottom: 0.75em;
    }

    &--square {
      background: $blue;
      background: linear-gradient(0deg, $magenta 0%, $blue 100%);
      justify-content: center;
    }

    &--circle {
      clip-path: circle(50% at 50% 50%);
      background: $magenta;
      background: linear-gradient(0deg, $green 0%, $magenta 100%);
      justify-content: center;
    }
  }
}

.fade-enter-active {
  transition: opacity 0.5s;
}

.fade-enter {
  opacity: 0;
}

.none {
  display: none;
}

/*----------------------------------- Mobile Portrait (320px) -----------------------------------*/
@include responsive(20em) {
}

/*----------------------------------- Mobile Landscape (568px) ----------------------------------*/
@include responsive(35.5em) {
}

/*----------------------------------- Tablet Portrait (768px) -----------------------------------*/
@include responsive(48em) {
}

/*----------------------------------- Tablet Landscape (1024px) ---------------------------------*/
@include responsive(64em) {
}

/*------------------------------------- Small Desktop (1280px) ----------------------------------*/
@include responsive(80em) {
}

/*------------------------------------ Medium Desktop (1440px) ----------------------------------*/
@include responsive(90em) {
}

/*--------------------------------- Medium Large Desktop (1600px) -------------------------------*/
@include responsive(100em) {
}

/*------------------------------------- Large Desktop (1920px) ---------------------------------*/
@include responsive(120em) {
}
