body {
  font-family: 'Red Hat Display', 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: $dark-grey;
}

h1,
h2,
h3,
h4 {
  color: $dark-grey;
  font-weight: 900;
  margin-top: $col-landscape * 0.5;
  margin-bottom: $col-landscape * 0.1;
}

p {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: inherit;
  color: inherit;
  margin-top: 0;
  margin-bottom: $col-landscape * 0.3;
}

ul {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.375rem;
  line-height: 1.625rem;
  margin: 0;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0;

  &.green {
    @include heading-before-content($image: 'novanet-triangle.svg');
  }

  &.blue {
    @include heading-before-content($image: 'novanet-square.svg');
  }

  &.magenta {
    @include heading-before-content($image: 'novanet-circle.svg');
  }
}

h3 {
  font-size: 1.125rem;
  line-height: 1.375rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.125rem;
}

button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

.none {
  display: none;
}

.pinterest {
  color: $pinterest;
}

.whatsapp {
  color: $whatsapp;
}

.telegram {
  color: $telegram;
}

.twitter {
  color: $twitter;
}

.facebook {
  color: $facebook;
}

.share {
  display: flex;
  margin-top: $col-landscape * 0.2;
  & > * {
    margin-right: 0.4em;
  }

  & > a {
    font-size: 1.2rem;
  }

  &__text {
    font-size: 1rem;
  }
}

.fade-enter-active {
  transition: opacity 0.5s;
}

.fade-enter {
  opacity: 0;
}

// Estilos modal
.modal {
  &__mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    transition: opacity 0.2s ease;
    cursor: auto;
    animation: fadeIn 0.4s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__wrapper {
    align-self: center;
  }
  &__container {
    position: relative;
    width: auto;
    margin: 0px auto;
    transition: all 0.3s ease;
  }
  &__converter {
    margin-top: 2em;
    padding: 0;
  }
  &__boton {
    width: 2em;
    height: 2em;
    position: absolute;
    top: 2em;
    right: 2em;
    border-radius: 50%;
    border: 0;
    font-size: 1.2rem;
    color: white;
    background-color: $magenta;
    cursor: pointer;
  }
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.container {
  @include grid-structure($columns: 40, $col: $col-landscape);
  min-height: 100vh;
  grid-template-rows: min-content;

  .header,
  .footer {
    padding: $col-landscape;
  }
}

.header {
  @include grid-structure($columns: 6, $col: $col-landscape);
  grid-column: 1 / 41;

  &--green {
    background-color: $green;
    color: $dark-grey;
  }

  &--blue {
    background-color: $blue;
    color: $white;
    .nav {
      &__link {
        &--title {
          color: $white;
        }
      }
    }
  }

  &--magenta {
    background-color: $magenta;
    color: $white;
    .nav {
      &__link {
        &--title {
          color: $white;
        }
      }
    }
  }
}

.nav {
  // Navegación Inicio
  &--main {
    @include grid-structure($columns: 6, $col: $col-landscape);
    grid-column: 1 / 7;
    box-sizing: border-box;
  }
  // Navegación interna
  &--page {
    display: flex;
    grid-column: 1 / 7;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    position: relative;
    color: inherit;
    padding-right: 0;
    padding-left: 0;

    &:visited {
      color: inherit;
    }

    &--logo {
      width: $col-landscape * 4.25;
    }

    &--icon {
      &::before {
        font-size: 4rem;
        position: absolute;
        left: 0;
        top: -0.1em;
      }

      &-page::before {
        top: -0.15em;
      }
    }

    &--title {
      margin: 0 0 0 ($col-landscape * 1.8);
      color: inherit;
      &-contacto {
        margin: 0 0 0 ($col-landscape * 1.62);
        color: inherit;
      }
    }
  }
}

.main {
  display: grid;
  grid-column: 1 / 41;
  padding: $col-landscape $col-landscape 0;
  height: min-content;
}

.footer {
  grid-column: 1 / 41;
  align-self: end;
}

.rrss {
  display: flex;
  justify-content: space-between;
  width: fit-content;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    color: $white;
    width: $col-landscape * 0.85;
    height: $col-landscape * 0.85;
    box-sizing: border-box;
    margin-right: $col-landscape * 0.45;

    &--triangle {
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      background: $green;
      background: linear-gradient(0deg, $blue 0%, $green 100%);
      justify-content: flex-end;
      padding-bottom: 0.3em;
    }

    &--square {
      background: $blue;
      background: linear-gradient(0deg, $magenta 0%, $blue 100%);
      justify-content: center;
    }

    &--circle {
      clip-path: circle(50% at 50% 50%);
      background: $magenta;
      background: linear-gradient(0deg, $green 0%, $magenta 100%);
      justify-content: center;
    }
  }
}

.section {
  margin-bottom: $col-landscape;
  &:last-child {
    margin-bottom: 0;
  }

  &--home {
    display: grid;
    height: $col-landscape * 14;
    align-content: center;
  }
}

// Inicio
.shapes {
  @include grid-structure($columns: 3, $col: $col-landscape);

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__img {
    width: 15vw;
  }

  &__img--circle {
    width: 16.1vw;
  }

  &__titulo {
    grid-column: 1 / 4;
    text-align: center;
    margin-top: $col-landscape * 1.3;
    margin-bottom: 0;
    font-size: 1.55rem;
    font-weight: 400;
    color: $dark-grey-2;
    
  }
}

.services {
  @include grid-structure($columns: 3, $col: $col-landscape);
  margin: ($col-landscape * 0.2) 0 ($col-landscape * 0.1) 0;

  &__items {
    &:nth-child(1) {
      grid-column: 1 / 2;
    }

    &:nth-child(2) {
      grid-column: 2 / 3;
    }

    &:nth-child(3) {
      grid-column: 3 / 4;
    }
  }
  &__icon {
    margin-bottom: -$col-landscape;
    margin-left: -$col-landscape * 0.3;
    font-size: 5rem;
  }
  &__description {
    p {
      font-size: 1rem;
      line-height: 1.375rem;
      font-weight: inherit;
    }
  }
}

.categories {
  @include grid-structure($columns: 3, $col: $col-landscape);

  &__items {
    display: flex;
    margin-bottom: $col-landscape * 0.5;

    &:nth-child(1) {
      grid-column: 1 / 2;
    }

    &:nth-child(2) {
      grid-column: 2 / 3;
    }
    &:nth-child(3) {
      grid-column: 1 / 2;
    }

    &:nth-child(4) {
      grid-column: 2 / 3;
    }
  }
  &__icon {
    display: flex;
    font-size: 3.5rem;
    padding: $col-landscape * 0.095;
    color: $white;
    @include image-background($image: 'novanet-circle.svg');

    &::before {
      margin-top: $col-landscape * 0.53;
    }
  }
  @include subheader();
}

.card {
  &__image {
    max-width: 100%;
  }

  &__title {
    margin-top: 0;
  }
}

.project {
  @include grid-structure($columns: 3, $col: $col-landscape);

  &__image {
    max-width: 95%;
    grid-column: 1 / 2;
  }

  &__info {
    grid-column: 2 / 4;
  }

  &__gallery {
    @include grid-structure($columns: 6, $col: $col-landscape);
    margin-top: $col-landscape * 0.25;
  }

  .share {
    margin-top: $col-landscape * 0.4;
  }

  &__thumbnail {
    max-width: 100%;
  }

  &__button {
    margin: 0;
    padding: 0 ($col-landscape * 0.2) 0 0;
  }
}

.blog {
  @include grid-structure($columns: 4, $col: $col-landscape);
  margin: ($col-landscape * 0.2) 0 ($col-landscape * 0.1) 0;

  &__items {
    &:nth-child(odd) {
      grid-column: 1 / 2;
    }

    &:nth-child(even) {
      grid-column: 2 / 3;
    }
  }

  .description {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: inherit;
    color: $dark-grey;
  }

  .date {
    font-size: 0.85rem;
    color: $dark-grey-2;
  }
}

.article {
  @include grid-structure($columns: 3, $col: $col-landscape);

  &__image-share {
    grid-column: 1 / 2;
  }

  &__info {
    grid-column: 2 / 4;
  }

  &__image {
    max-width: 100%;
  }
}

.contacto {
  @include grid-structure($columns: 4, $col: $col-landscape);
  margin: ($col-landscape * 0.2) 0 ($col-landscape * 0.1) 0;

  &__items {
    &:nth-child(odd) {
      grid-column: 1 / 3;
    }

    &:nth-child(even) {
      grid-column: 3 / 5;
    }
  }

  &__mapa {
    margin-top: $col-landscape * 0.25;
    width: 98%;
    height: 40vh;
    border: 0;
  }
}

.formulario {
  input,
  textarea {
    width: 70%;
    border: 0;
    margin-top: 0;
    min-height: 2em;
    padding: 0.5em 0.5em 0.5em 0;
    font-size: 1.05rem;
    border-bottom: 0.1em solid $blue;
  }
  input[type='submit'] {
    cursor: pointer;
    margin-top: $col-landscape * 0.3;
    padding-right:0;
    width: 25%;
    color: $white;
    background-color: $blue;
  }
}

/*----------------------------------- Mobile Portrait (320px) -----------------------------------*/
@include responsive(20em) {
  body {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  ul {
    font-size: 0.645rem;
    line-height: 0.925rem;
  }

  h1 {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }

  h2 {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  h3 {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  h4 {
    font-size: 0.65rem;
    line-height: 1rem;
  }

  .share {
    margin-top: $col-portrait * 0.3;
    & > * {
      margin-right: 0.8em;
    }

    & > a {
      font-size: 1rem;
    }

    &__text {
      font-size: 0.78rem;
    }
  }

  .header {
    grid-column: 1 / 21;
    height: auto;
  }

  .nav {
    // Navegación Inicio
    &--main {
      @include grid-structure($columns: 1, $col: $col-portrait);
    }

    &--page {
      padding: ($col-portrait * 0.2) 0 ($col-portrait * 0.4);
    }

    &__link {

      &--logo {
        width: $col-portrait * 6;
      }
      &--icon {
        &::before {
          top: -0.22em;
        }

        &-page::before {
          top: -0.17em;
        }
      }
      &--title {
        margin: 0 0 0 ($col-portrait * 3.1);
        &-contacto {
          margin: 0 0 0 ($col-portrait * 2.8);
        }
      }
      &--mobile {
        display: none;
      }
    }
  }

  .container {
    @include grid-structure($columns: 20, $col: $col-portrait);

    .header,
    .footer {
      padding: ($col-portrait * 0.8);
    }
  }

  .main {
    grid-column: 1 / 21;
    padding: ($col-portrait * 0.9) ($col-portrait * 0.9) 0;
  }

  .footer {
    grid-column: 1 / 21;
  }

  .rrss {
    &__link {
      font-size: 0.6rem;
      width: $col-portrait * 1.3;
      height: $col-portrait * 1.3;
      margin-right: $col-portrait * 1;

      &--triangle {
        padding-bottom: 0.5em;
      }
    }
  }

  .section {
    margin-bottom: $col-portrait * 0.9;

    &--home {
      height: $col-portrait * 28.5;
    }
  }

  // Inicio
  .shapes {
    &__img {
      width: 24vw;
    }

    &__img--circle {
      width: 24vw;
    }

    &__titulo {
      margin-top: $col-portrait * 1.1;
      font-size: 0.96rem;
      line-height: 1.2rem;
    }
  }

  .services {
    @include grid-structure($columns: 1, $col: $col-portrait);
    margin: ($col-portrait * 0.4) 0 ($col-portrait * 0.1) 0;

    &__items {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        grid-column: 1 / 2;
        padding-bottom: $col-portrait * 0.7;
      }
    }

    &__icon {
      margin-bottom: -$col-portrait * 1.15;
      margin-left: -$col-portrait * 0.5;
      font-size: 4rem;
    }
    &__description {
      p {
        font-size: 0.875rem;
        line-height: 1.125rem;
      }
    }
  }

  .categories {
    @include grid-structure($columns: 1, $col: $col-portrait);

    &__items {
      margin-bottom: $col-portrait * 0.5;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        grid-column: 1 / 2;
        margin: 0;
      }
    }

    &__icon {
      font-size: 3.5em;
      padding: $col-portrait * 0.2;
      &::before {
        margin-top: $col-portrait * 0.85;
      }
    }

    &__title {
      margin: 0 0 0 ($col-portrait * 0.3);
    }

    &__internal {
      @include grid-structure($columns: 2, $col: $col-portrait);
      > div {
        &:nth-child(odd) {
          padding-right: $col-portrait * 0.95;
        }
        &:nth-child(even) {
          padding-left: $col-portrait * 0.95;
          padding-right: 0;
        }
      }
    }
  }

  .project {
    @include grid-structure($columns: 1, $col: $col-portrait);

    &__image {
      max-width:100%;
      grid-column: 1 / 2;
    }

    &__info {
      margin-top: $col-portrait * 0.3;
      grid-column: 1 / 2;
    }

    &__gallery {
      margin-top: $col-portrait * 0.6;
    }

    .share {
      margin-top: $col-portrait * 0.5;
    }
  }

  .blog {
    @include grid-structure($columns: 2, $col: $col-portrait);

    .description {
      font-size: 0.875rem;
      line-height: 1.125rem;
      display:none;
    }

    .date {
      font-size: 0.75rem;
    }

    > div {
      &:nth-child(odd) {
        padding-right: $col-portrait * 0.95;
      }
      &:nth-child(even) {
        padding-left: $col-portrait * 0.95;
        padding-right: 0;
      }
    }
  }

  .article {
    @include grid-structure($columns: 1, $col: $col-portrait);

   > div.article__image-share {
        padding-right: 0;
      }

    &__info {
      grid-column: 1 / 4;
      margin-top: $col-portrait * 0.3;
    }
  }

  .contacto {
    @include grid-structure($columns: 2, $col: $col-portrait);

    &__items {
      &:nth-child(odd) {
        grid-column: 1 / 3;
        padding-right: 0;
      }

      &:nth-child(even) {
        grid-column: 1 / 3;
      }
    }

    &__mapa {
      width: 100%;
      height: 37vh;
      margin-bottom: $col-portrait * 0.7;
    }
  }

  .formulario {
    margin-top: $col-portrait * 0.7;
    margin-bottom: $col-portrait * 0.7;
    input,
    textarea {
      width: 94.5%;
      font-size: 0.85rem;
    }
    input[type='submit'] {
      width: 25%;
      margin-top: $col-portrait * 0.7;
      padding-right: 0;
    }
  }
}

/*----------------------------------- Mobile Landscape (568px) ----------------------------------*/
@include responsive(35.5em) {
}

/*----------------------------------- Tablet Portrait (768px) -----------------------------------*/
@include responsive(48em) {
}

/*----------------------------------- Tablet Landscape (1024px) ---------------------------------*/
@include responsive(64em) {
}

/*------------------------------------- Small Desktop (1280px) ----------------------------------*/
@include responsive(80em) {
}

/*------------------------------------ Medium Desktop (1440px) ----------------------------------*/
@include responsive(90em) {
}


/*--------------------------------- Medium Large Desktop (1600px) -------------------------------*/
@include responsive(100em) {
}

/*------------------------------------- Large Desktop (1920px) ---------------------------------*/
@include responsive(120em) {
}
